*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}

* {
	--primary: #512888;
	--secondary: #1181b2;
	--tertiary: #B11225;
	--black: #000;
	--white: #fff;
}

html {
	font-size: 62.5%;
}

/* adding the gradiant background */
body {
	font-size: 1.6rem;
	background: linear-gradient(-45deg, #692c95, #5d1eae, #377067, #2e39b8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
} */

/* end of gradiant bg */

.openingTitle {
	color: skyblue;
	padding: 10px;
	padding-top: 50px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.containerPara {
	color: var(--white);
	font-weight: bolder;
	padding: 25px 50px;
	margin-left: 400px;
	margin-right: 400px;
	border: 1px solid var(--black);
}

.openingPara {
	font-style: italic;
}